.header__subtitle {
  position: absolute;
  margin: 0;
  width: 388px;
  left: 64px;
  bottom: 30px;
  align-items:center;
  line-height:25px;
  font-size: 18px;
  z-index: 2;
/*border: 1px solid red;*/
}
